@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body {
    background-color: #1e1e1d;
    color: #1e1e1d;
}

header {
    background-color: #e6e605e3;
    height: 45px;
}

.menu .nickname {
    padding: 17px 20px;
    text-align: center;
    float: left;
    font-size: 28px;
    font-weight: 800;
    line-height: 10px;
}

.menu .button {
    padding: 10px;
    float: right;
    text-decoration: none;
}

.menu .button:hover {
    background-color: brown;
    color: #ffffff;
}

main {
    min-height: calc(100vh - 75px);
}

main h1 {
    color: yellow;
    font-size: 90px;
    padding-top: 15%;
    text-align: center;
}

footer {
    background-color: #e6e605e3;
    height: 30px;
}

footer a {
    padding-left: 30px;
}
