@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    font-family: 'Poppins';
}

body {
    background-color: #1e1e1d;
    color: #1e1e1d;
}

header {
    display: table;
    background-color: #e6e605e3;
    height: 5vh;
    width: 100vw;
}

.buttons {
    display: table-cell;
    vertical-align: middle;
    width: 85vw;
    font-size: 3vmin;
}

.button {
    color: #1e1e1d;
    padding-left: 10px;
    padding-right: 10px;
    float: right;
    text-decoration: none;
}

.button:hover {
    background-color: brown;
    color: #ffffff;
}

.nickname-button {
    display: table-cell;
    vertical-align: middle;
    width: 15vw;
    font-size: 3vmin;
}

.nickname {
    padding-left: 20px;
    font-weight: 1000;
}

main {
    display: table;
    height: 90vh;
}

.welcome {
    display: table-cell;
    vertical-align: middle;
}

.welcome h1 {
    color: yellow;
    font-size: 7vw;
    text-align: center;
}

footer {
    display: table;
    background-color: #e6e605e3;
    height: 5vh;
    width: 100vw;
}

footer a {
    display: table-cell;
    vertical-align: middle;
    padding-left: 30px;
}
